﻿@using InoStudio.Models;
@model  List<StudentModel>

@{
    ViewBag.Title = "StudentList";
}

<h3>List Of Students</h3>

@Html.ActionLink("Register New", "AddStudent")
<table class="table">
    <tr>
        <th>
            FIO
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName) @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.Patronymic)
            </td>
            <td>
            </td>
        </tr>
    }

</table>